html {
  height: 100%;
}
body {
  font-family: "Arial", "Helvetica", sans-serif;
  background: -webkit-gradient(linear,0 top,0 bottom,from(#ddd),to(#fff));
  background: -moz-linear-gradient(top,#ddd,#fff);
  -pie-background: linear-gradient(top,#ddd,#fff);
  min-height: 101%;
  behavior: url("/css/PIE.htc");
}
header {
}
  #masthead {
    padding: 17px 20px 18px 20px;
    height: 24px;
    border-bottom: 1px solid #fff;
    background: url("/images/masthead.bg.png") repeat-x;
  }
    #logo {
      background-image: url("/images/logo.png");
      height: 24px;
      width: 213px;
      float: left;
      margin-right: 20px;
    }
    #main-nav {
      font-size: 14px;
      font-weight: bold;
    }
      #main-nav ul {
        height: 24px;
      }
        #main-nav li {
          float: left;
          margin-left: 20px;
        }
        #main-nav li:first-child {
          margin-left: 0px;
        }
        #main-nav a {
          color: white;
          text-decoration: none;
          display: block;
          height: 14px;
          padding: 4px 10px 8px 10px;
          background: rgba(0, 0, 0, 0.15);
          border: 1px solid rgba(0, 0, 0, 0.25);
          border-bottom: 1px solid rgba(255, 255, 255, 0.15);
          border-right: 1px solid rgba(255, 255, 255, 0.15);
          border-radius: 6px;
          -moz-border-radius: 6px;
          -o-border-radius: 6px;
          -webkit-border-radius: 6px;
        }

        .no-rgba #main-nav a {
          background: #2d2d2d;
          border: 1px solid #1e1e1e;
          border-bottom: 1px solid #444;
          border-right: 1px solid #4444;
        }
    #user-nav {
      position: relative;
      top: -30px;
      height: 37px;
      float: right;
    }
      #user-nav a {
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        display: block;
        text-shadow: rgba(0, 0, 0, 0.3) -1px -1px 1px;
        padding: 10px 12px;
      }

      #user-nav .from {
        font-weight: bold;
      }
      
      #user-nav a.top-level {
        height: 37px;
        line-height: 37px;
        padding: 0 12px;
        font-weight: bold;
      }

      #user-nav a:hover {
        background: rgba(255, 255, 255, 0.3);
      }
      .no-rgba a:hover {
        background: url("/images/user-nav.bg.png");
      }

      #user-link {}

        #user-picture {
          position: relative;
          top: 6px;
          box-shadow: #000 -1px -1px 1px;
          -moz-box-shadow: #000 -1px -1px 1px;
          -webkit-box-shadow: #000 -1px -1px 1px;
          behavior: url("/css/PIE.htc");
        }

        #user-name {
          padding-left: 5px;
        }

      #user-nav ul {
        list-style: none;
      }

      #user, #inbox, #logout {
        float: left;
        margin-left: 20px;
      }

      .menu ul {
        display: none;
        margin: 0;
        padding: 0;
        background: -webkit-gradient(linear,0 top,0 bottom,from(#48a4e3),to(#1f84ca));
        background: -moz-linear-gradient(top,#48a4e3,#1f84ca);
        -pie-background: linear-gradient(top,#48a4e3,#1f84ca);
        behavior: url("/css/PIE.htc");
      }

      .menu.open {
        background: #48a4e3;
      }
        .menu.open a {
          border-bottom: 1px solid #20699d;
        }
        .menu.open ul {
          position: absolute;
          display: block;
          box-shadow: #777 2px 4px 6px;
          -webkit-box-shadow: #777 2px 4px 6px;
          -moz-box-shadow: #777 2px 4px 6px;
          -webkit-border-bottom-right-radius: 7px;
          -webkit-border-bottom-left-radius: 7px;
          -moz-border-radius-bottomright: 7px;
          -moz-border-radius-bottomleft: 7px;
          border-bottom-right-radius: 7px;
          border-bottom-left-radius: 7px;          
          behavior: url("/css/PIE.htc");
        }
          .menu.open a {
            border-top: 1px solid #76bae9;
            display: block;
          }
          #user.open ul a {
            border: 0 none;
          }
          #user-actions {
            border-top: 1px solid #76bae9;
            min-width: 146px;
          }
      
      #inbox {}
        #inbox-count {
          padding: 0 3px;
          margin-left: 5px;
          border: 1px solid #f60403;
          background: -webkit-gradient(linear,left bottom,left top,color-stop(0.45, rgb(208,4,4)),color-stop(0.55, rgb(254,31,35)));
          background: -moz-linear-gradient(center bottom, rgb(208,4,4) 45%, rgb(254,31,35) 55%);
          -pie-background: linear-gradient(center bottom, rgb(208,4,4) 45%, rgb(254,31,35) 55%);
          border-radius: 6px;
          -moz-border-radius: 6px;
          -o-border-radius: 6px;
          -webkit-border-radius: 6px;
          text-shadow: rgba(0, 0, 0, 0.40) -1px -1px 1px;
          box-shadow: #444 1px 1px 2px;
          -webkit-box-shadow: #444 1px 1px 2px;
          -moz-box-shadow: #444 1px 1px 2px;
        }
        .no-boxshadow.no-borderradius #inbox-count {
          color: #fff;
          background: #d00;
        }
        #inbox-messages {
          padding-bottom: 7px;
        }
          #view-all a {
            border-top: 0 none;
            background: #1f6b9f;
            border-bottom: 1px solid #4397d3;
            text-align: center;
          }
      
      #login, #logout {
        text-transform: uppercase;
      }